# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
env/
.Python
.ipynb_checkpoints

# VS Code
.vscode/

# Jupyter
.nbgrader_log

# pytest
.pytest_cache/

# Data
data/
node_modules/
dist/
build/
/.cache
